[submodule "2. Code/Projet/lib/forge-std"]
	path = 2. Code/Projet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "2. Code/Projet/lib/solmate"]
	path = 2. Code/Projet/lib/solmate
	url = https://github.com/transmissions11/solmate
